.page.theme_dark {
    --bg-color: #000028;
    --main-font: IBM Plex Mono, sans-serif;
    --bg-accent-color: #FF0070;
    --text-color: #F1B2CE;
    --accent-color: #000028;
    --header-color: #DB00FF;
    --decor-color: #FF0070;
    --button-color: #FF0070;
    --button-active-color: #FF0070;
    --button-hover-color: rgba(255, 0, 112, 0.40);
    --button-focus-color: #FF0070;
}


.page.theme_dark .header {
    display: grid;
    gap: 55px;
    max-height: 668px;
    grid-template-rows: repeat(2, 1fr);
    padding: 10px 10px;
    position: relative;
    background-image: url("../images/cover-image-dark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page.theme_dark .header::after {
    content: "";
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--decor-color);
    border-right: 1px solid var(--decor-color);
    position: absolute;
    top: 10px;
    right: 10px;
}

.page.theme_dark .header::before {
    content: "";
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--decor-color);
    border-left: 1px solid var(--decor-color);
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.page.theme_dark .header__logo {
    color: var(--bg-accent-color);
    position: absolute;
    right: 20px;
    top: 10px;
    display: inline-block;
}

.page.theme_dark .header__logo::after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: var(--bg-accent-color);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px var(--bg-accent-color));
}

.page.theme_dark .header__theme-menu {
    justify-self: end;
    padding-top: 60px;
    align-items: center;
}

.page.theme_dark .header__theme-menu-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.page.theme_dark .header__theme-menu-button {
    background: transparent;
    border: 1px solid transparent;
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--bg-accent-color);
    text-transform: lowercase;
    padding: 2px 13px;

}

.page.theme_dark .header__theme-menu-button:focus {
    outline: none;
    box-shadow: none;
}

.page.theme_dark .header__title {
    padding-top: 10px;
    color: var(--header-color);
    text-shadow: 4px 4px 0 var(--bg-accent-color);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-style: normal;
    font-weight: bold;
    line-height: 82%;
    justify-self: start;
}

.page.theme_dark .header__title-description {
    color: var(--accent-color);
    font-weight: bold;
    line-height: 23px;
    background-color: var(--bg-accent-color);
    margin-bottom: 66px;
    font-size: 18px;
    padding: 1px 0;
}

@media (width >= 768px) {

    .page.theme_dark .header {
        padding: 20px 20px;
        min-height: 1024px;
    }

    .page.theme_dark .header::after {
        top: 20px;
        right: 20px;
    }

    .page.theme_dark .header::before {
        bottom: 20px;
        left: 20px;
    }

    .page.theme_dark .header__theme-menu {
        margin-top: 110px;
    }

    .page.theme_dark .header__logo {
        right: 30px;
        top: 20px;
    }

    .page.theme_dark .header__title {
        padding-top: 100px;
        margin-left: -20px;
    }

    .page.theme_dark .header__title-description {
        justify-self: end;
        width: 50%;
        margin-bottom: 163px;
    }
}

@media (width >= 1024px) {

    .page.theme_dark .header {
        min-height: 768px;
    }

    .page.theme_dark .header__theme-menu {
        justify-self: center;
        padding-top: 0;
        margin-top: 0;
    }

    .page.theme_dark .header__title {
        padding-top: 30px;
        font-size: 157px;
    }

    .page.theme_dark .header__theme-menu-list {
        flex-direction: row;
    }

    .page.theme_dark .header__title-description {
        margin-bottom: 110px;
    }
}

