.page.theme_light {
    --bg-color: #FFF1F7;
    --main-font: IBM Plex Mono, sans-serif;
    --bg-accent-color: #FF8DCB;
    --header-shadow-color: #FF8DCB;
    --text-color: #353430;
    --accent-color: #353430;
    --header-color: #FFC2E6;
    --decor-color: #353430;
    --button-color: #353430;
    --button-active-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.40);
    --button-focus-color: #353430;
    --header-bg-image: url("../images/cover-image-light.png");
    --content-header-color: #353430;
    --link-color: #353430;
    --link-shadow-color: #FF8DCB;
    --link-focus-color: #353430;
}

.page.theme_light .header__logo {
    display: none;
}

@media (width >= 1024px) {

    .page.theme_light {
        --header-shadow-color: #FF0070;
    }
}

@media (prefers-color-scheme: light) {

    :root {
        --bg-color: #FFF1F7;
        --main-font: IBM Plex Mono, sans-serif;
        --bg-accent-color: #FF8DCB;
        --header-shadow-color: #FF8DCB;
        --text-color: #353430;
        --accent-color: #353430;
        --header-color: #FFC2E6;
        --decor-color: #353430;
        --button-color: #353430;
        --button-active-color: #353430;
        --button-hover-color: rgba(50, 49, 45, 0.40);
        --button-focus-color: #353430;
        --header-bg-image: url("../images/cover-image-light.png");
        --content-header-color: #353430;
        --link-color: #353430;
        --link-shadow-color: #FF8DCB;
        --link-focus-color: #353430;
    }

    .header__logo {
        display: none;
    }

    @media (width >= 1024px) {

        .page {
            --header-shadow-color: #FF0070;
        }
    }
}
