:root {
    --bg-color: #000028;
    --main-font: IBM Plex Mono, sans-serif;
    --bg-accent-color: #FF0070;
    --text-color: #F1B2CE;
    --accent-color: #000028;
    --header-color: #DB00FF;
    --decor-color: #FF0070;
    --button-color: #FF0070;
    --button-active-color: #FF0070;
    --button-hover-color: rgba(255, 0, 112, 0.40);
    --button-focus-color: #FF0070;
    --header-bg-image: url("../images/cover-image-dark.png");
    --content-header-color: #FF0070;
}
